

.conteiner{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px;
    gap: 10px;
  }
  .card {
    /* Existing styles for card dimensions, position, perspective, etc. */
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transition: transform 2s ease;
    position: relative;
    border-radius: 15px; 
    transform-style: preserve-3d;
    perspective: 1000px;
  }
  
  .card img{
    height: 100%;
    width: 100%;
    mask-image: linear-gradient(black 80%, transparent);
  }
  
  .front,
  .back {
    
    height: 100%;
    border-radius: 15px;
    overflow: hidden;
    /* Existing common styles for front and back faces */
    backface-visibility: hidden;
   
  }
  
  .front {
    /* Styles for the front face */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    text-wrap: wrap;
  }
  .front img{
    height: 100%;
    
  }
  .front h1{
    position: absolute;
    color: white;
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
    font-family:' Harry Potter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 1;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    text-wrap: wrap;
    align-items: center;
  }
  
  .back {
    /* Styles for the back face */
    transform: rotateY(180deg); /* Initially rotate the back face 180deg */
    position: absolute;
  }
  
  .card:hover {
    transform: rotateY(180deg); /* Flip the card on hover */
  }



  .card-info {
    position: absolute;
    bottom: 10px;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    z-index: 2;
    background-color: transparent;
  }
  body{
    background-color: #333;
    font-family:' Harry Potter', Tahoma, Geneva, Verdana, sans-serif;
  }
  .lumus{
    height:10px;
    width: 10px;
    background-color: white;
    border-radius: 50%;
    position:fixed;
    filter: blur(2px);
    justify-content: center;
    align-items: center;
    display: flex;
    /* animation: latencia 2s infinite; */
  }
  .lumus::after{
    content: "";
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50%;
    filter: blur(5px);
     animation: latencia-opacity 2s linear infinite;
     position: absolute;
  }
  @keyframes latencia{
    0%{
      transform: scale(1);
    }
    50%{
      transform: scale(2);
    }
    100%{
      transform: scale(1);
    }
  }

  @keyframes latencia-opacity{
      0%{
      transform: scale(1);
      opacity: 1;
    }
    50%{
      transform: scale(2);
      opacity: 0.5;
    }
    100%{
      transform: scale(5);
      opacity: 0;
    }
  }
  
  #loading-message {
    display: none; /* Initially hidden */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 5rem;
    /* z-index: 9999; */
    position: absolute;
    /* filter: brightness(1.1);
    mix-blend-mode: multiply; */
    
  }
 
  
  #loading-message img {
    display: flex;
    height: 200px;
    width: 300px;
    mask-image: linear-gradient(transparent, black -93%, transparent);
    filter: blur(2px);
    /* filter: brightness(1.1);
    mix-blend-mode: multiply; */
  }


  circle, polygon, g, line {
    fill-opacity:0;
    stroke-dasharray:1300;
    stroke-dashoffset:1300;
    animation: desfum 5s linear both;
  }
  circle {
    animation-delay: 100ms;
    stroke-dasharray: 230;
    animation:desfum 2s linear infinite, circle .2s linear infinite;
  
  }
  polygon {
    animation-delay: 200ms;
    animation-duration:2s;
  }
  line {
    animation-delay: 50ms;
  }
  g {
    animation-delay: 200ms;
  }
  @keyframes desfum{
    0%{
      fill-opacity:0;
      stroke:rgba(81, 88, 86, 1);
    }
  
    100%{
        fill-opacity:100%;
        stroke-dashoffset:0;
        stroke-width:10;
        
    }
  }

  @keyframes reloades{
    0%{
          transform: translateZ(0deg);
         
         
    }
    100%{
      transform: translateZ(180deg);
      
      
    }
  }