body{
    height: 100vh;
    color: white;
    background: linear-gradient(320deg, rgba(13, 33, 49, 0.566), rgb(12 12 12 / 31%));
}

main{
    height: 100vh;
    max-width: 500px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
   background: linear-gradient(320deg, rgb(11 64 105 / 68%), rgb(187 47 47 / 31%));
    border-radius: 15px;
    overflow: hidden;
    box-shadow: -1px 0px 10px 2px #333;
}

 form{
    background: #333;
    height: 50px;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    padding: 8px;
    justify-content: center;
    box-sizing: border-box;
 }
input{
    width: 100%;
    border-radius: 10px;
    border: none;
} 
input:focus{
    inset: none;
    outline: none;
}
button{
  border: none;
  background-color: transparent;
  color: white;
}

#messages{
   height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
   
}

/* li:nth-child(odd){
    background-color: rgb(66, 96, 66);
color:white;
text-align: right;
font-style: italic;
font-weight: 600;
} */

.enviado {
    background-color: #e90a0a29;
    color: white;
    text-align: right;
    font-style: italic;
    font-weight: 600;
    padding: 5px;
    box-sizing: border-box;
  }
  
  .recibido {
    background-color: #ffa50078;
    color: black;
    text-align: left;
    font-style: normal;
    font-weight: 400;
    padding: 5px;
    box-sizing: border-box;
  
  }

  ul {
    display: flex;
    flex-direction: column; 
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 5px;s
}