body{
    background: linear-gradient(320deg, rgba(13, 33, 49, 0.566), rgb(12 12 12 / 31%));
    color:white;
    font-family: system-ui, sans-serif;
}
 /* background: linear-gradient(320deg, rgb(11 64 105 / 68%), rgb(187 47 47 / 31%));
    background-image: url("react.svg");
  
    display: flex;
    flex-direction: column;
    padding: 10px */
    /* background: linear-gradient(320deg, rgb(11 64 105 / 68%), rgb(187 47 47 / 31%)); */
header{ 
    background-image: url(react.svg);
    background-position: left top;
    background-size: 178% 199%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: rgb(11 67 105 / 93%);
    border-radius: 10px;
    animation: move-background 2s linear forwards;
    border-image: fill 0 linear-gradient(#0001, #000);
    transform: translate3d(0px, 0px, 0px);
}
@keyframes rotate-background {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes move-background {
    0%{
       background-size: 50% 199%;
    }100%{
        background-size: 178% 199%;
    }
}

  /* background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
header h1{
 display: flex;
 justify-content: center;
}
header h2{
    display: flex;
    justify-content: center;
}

.octicon{
    position: absolute;
    border-radius: 100%;
}
.octicon:hover{
    
    box-shadow: 1px 1px 8px 7px, inset 1px 1px 8px 7px;
   
}
main{
    display: flex;
    justify-content: center;
    flex-direction: column;   
}

main h1{
    display: flex;
    justify-content: center;
   
}
#wrapp{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap:5px;
    
}
div{
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    /* background-color:  rgb(187 47 47 / 31%); */
    transition: all 0.3s;
    background: linear-gradient(320deg, rgb(11 64 105 / 68%), rgb(187 47 47 / 50%));
    aspect-ratio: 1/1;
}
div:nth-child(odd){
    background-color: rgb(11 64 105 / 68%);
color:white;
font-style: italic;
font-weight: 600;
background-image: url(react.svg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
background-position: left top;
background-size: 178% 199%;
border-image: fill 0 linear-gradient(#0001, #000);

}


a {
    text-decoration: none; /* Elimina el subrayado */
    color: white; /* Hereda el color del texto del elemento padre */
}

.card-clase:hover{
   /* filter: brightness(1.1);
    mix-blend-mode: multiply; */
    /* transform:translateY(-20px) skewX(5deg) scale(1.1); 
    border: solid 1px white;
    z-index: 1; */
   /* filter: blur(1px);
   transform: scale(1.1);
   
   */
   border: solid 1px white;
} 

  
.card-clase{
    overflow: hidden;
    transition: all 0.3s;
    box-sizing: border-box;
    aspect-ratio: 1/1;

    /* animation: move 2s linear infinite; */

}
.card-clase h2{
    transition: all 0.3s;
    /* position: absolute; */
}


.iconify{
    color: #000;
    animation: rotate 2s linear infinite;
}

@keyframes rotate{

    0%{
      transform: rotate(0deg);
    }
      100%{
        transform: rotate(350deg);
      }
}

@keyframes move {
    0% {
        transform: rotateY(-20deg) rotateX(-5deg);
    }
    25% {
        transform: rotateY(20deg) rotateX(-5deg);
    }
    50% {
        transform: rotateY(20deg) rotateX(5deg);
    }
    75% {
        transform: rotateY(-20deg) rotateX(5deg);
    }
    100% {
        transform: rotateY(-20deg) rotateX(-5deg);
    }
}